@import "../colors";
@import "../dimensions";

div.table-wrapper {
  width: 90%;
  margin: 0 auto;

  div.links {
    text-align: right;
    padding: $moderate;
  }

  table {
    margin: $moderate auto 0;
    border-collapse: collapse;

    tr {
      th {
        background-color: $dark_gray;
        color: $very_light_gray;
      }
      th, td {
        border: solid $tyodoii $very_dark_magenta;
        padding: $narrow;
      }
      td.email, td.date {
        font-family: monospace;
      }
      td.boolean {
        text-align: center;
      }
      td.actions {
        text-align: center;
        color: $dark_gray
      }
    }
  }

/////// 9/28 arai add
  table.question_choice_list {
    margin: $moderate auto 0;
    border-style: none;
    width: 100%;

    tr {
      td {
        padding: $wide $moderate;
        border-style: none;
        label.required:after {
          content: '*';
          padding-left: $narrow;
          color: $red;
        }
      }
    }
  }
  ///////////////////////////

  table.listing {
    width: 100%;
    tr:nth-child(even) {
      background-color: $very_light_gray;
    }
    tr:nth-child(odd) {
      background-color: $light_gray;
    }
  }
}
