<header>
  <span class="logo-mark">GODZILLA</span>
  <%= content_tag(:span, flash.notice, class: 'notice') if flash.notice %>
  <%= content_tag(:span, flash.alert, class: 'alert') if flash.alert %>
  <%=
    if current_account
      link_to 'ログアウト', :staff_session, method: :delete
    else
      link_to 'ログイン', :staff_login
    end
  %>
  <%= link_to 'パスワード変更', :edit_staff_password if current_account %>
</header>
