<div id="menu">
  <h1>メニュー</h1>
  <ul>
    <li><%= link_to '社員管理', :admin_accounts %></li>
    <li><%= link_to '年度管理', :admin_year_managements %></li>
    <li><%= link_to '設問管理', :admin_question_infos %></li>
    <li><%= link_to 'テスト管理', :admin_test_basic_infos %></li>
  </ul>
</div>
